*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color:#282c34  ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.lista{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.divNav{
  min-height: 100px;
  width: 100%;
}

.Title{
  color: white;
  font-size: 48px;
  padding: 40px 0 40px 0;
}

.Item{
  color: white;
  text-decoration: none;
  text-align: center;
}

.dropdawn{
  list-style-type: none;
  position: absolute;
  display: none;
  text-align: center;
}

.drop:hover > ul{
  display: block;
  background-color: white;
  min-width:140px;
}
.drop:hover > ul > li > a{
  color: black;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
