.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}
.button{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0px 15px 0 15px;
    text-align: center;
    border: 1px dashed black;
    color: white;
    background-color: black;
}
